*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color: aquamarine;
    padding: 30px;
    margin: auto;
}

.container h2, p{
    text-align: center;
}

input, textarea{
    border: 1px solid gray;
    width: 80%;
    font-size: 16px;
    display: block;
    margin: 5px auto;
    padding: 10px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn{
    padding: 7px 15px;
    cursor: pointer;
    }